@page {
  margin-top: 1.25in;
  margin-right: 1in;
  margin-bottom: 1.75in;
  margin-left: 1in;
}
html {
  font-family: sans-serif;
  font-size: 10pt;
}
body {
  margin: 0;
}
.title { font-size: 1.25rem; margin: 0; }
.subtitle { font-size: 0.9rem; font-style: italic; }
h2 {
  color: #666;
  font-size: 1.1rem;
  border-bottom: 1px solid #ccc;
}
figure {
  margin: 0 0 1rem 0;
  figcaption {
    font-size: 85%;
  }
}
