:root {
  --mantine-font-family-headings: Montserrat;
  --mantine-font-family: Inter;
}

.emphasize-hover {
  --bg: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
  transition: background-color 250ms;
  &:hover {
    background-color: var(--bg);
  }
}
