.vertical-annotation {
    display: inline-block; 
    padding-left: 0.1em;
    border-left: 1px dashed;
    font-style: italic;
}

.horizontal-annotation {
    border-bottom: 1px dashed;
    font-style: italic;
}