.mantine-Drawer-content {
  background-color: var(--mantine-color-body);

  .mantine-Input-input {
    background: light-dark(
      color-mix(in hsl, var(--mantine-primary-color-filled), transparent 90%),
      color-mix(in hsl, var(--mantine-primary-color-filled), transparent 75%)
    );
  }
}

.mantine-Drawer-header {
  background-color: var(--mantine-color-body);
  border-top: 2px solid var(--mantine-color-default-border);
  border-bottom: 2px solid var(--mantine-color-default-border);
  margin-bottom: 1rem;
}
