.annotation-row {
  align-items: flex-start;
  .annotation-actions {
    filter: opacity(0.25);
    transition: filter 250ms 250ms;
  }  
  &:hover .annotation-actions {
    filter: opacity(1.0);
    transition: filter 250ms;
  }  
}
